/* Write your CSS here */
.item {
  padding: 10px;
  font-family: roboto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btn {
  background-color: transparent;
  color: #ff0b37;
  border-color: #ff0b37;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  
}
.title {
  color: #000000;
  font-size: 15px;
 padding-right: 10px;
}
